<div *ngIf="record.codAu" class="form">
    <h4>{{title}}</h4>
    <form>
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" maxlength="40" required class="form-control" id="name" [(ngModel)]="record.name" name="name" />
        </div>
    </form>
    <br />
    <div class="text-center">
        <div [innerHTML]="message"></div>
        <button (click)="update()" class="btn btn-success">Salvar</button>
    </div> 
</div>
<div *ngIf="!record.codAu">
    <br />
    <h1>Registro inexiste!</h1>
</div> 