<div class="row mt-3">
    <div class="col">
      <h1>{{title}}</h1> 
      <div class="table-responsive">
        <h4><a class="nav-link " href="#" routerLink="/assunto/insert"  
          routerLinkActive="active">Cadastrar</a></h4>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th width="150">Codigo</th>
              <th width="150">Descrição</th>
              <th width="15"></th>
              <th width="15"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of records"  (click)="setActive(record)">
              <td class="text-left">{{ record.codAs }}</td>
              <td class="text-left">{{ record.description }}</td>
              <td class="text-center"> <a class="nav-link" href="#" routerLink="/assunto/edit/{{record.codAs}}"  
                routerLinkActive="active">Editar</a></td>
              <td class="text-center"> <a class="nav-link"  (click)="delete(record.codAs)"
                  routerLinkActive="active">Excluir</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 