<div>
    <div class="form">
        <h4>{{title}}</h4>
        <div *ngIf="!inserted">
            <div class="form-group">
                <label for="name">Título</label>
                <input class="form-control" id="title" maxlength="40" required [(ngModel)]="record.title" name="title" />
            </div>
            <div class="form-group">
                <label for="name">Editora</label>
                <input class="form-control" id="publishingCompany" maxlength="40" required [(ngModel)]="record.publishingCompany"
                    name="publishingCompany" />
            </div>
            <div class="form-group">
                <label for="name">Edição</label>
                <input class="form-control" id="edition" maxlength="2" required [(ngModel)]="record.edition" name="edition" />
            </div>
            <div class="form-group">
                <label for="name">Ano de publicação</label>
                <input class="form-control" id="releaseYear" maxlength="4" required [(ngModel)]="record.releaseYear"
                    name="releaseYear" />
            </div>
            <app-author-selection-list (newSelectEvent)="addItemAuthor($event)"></app-author-selection-list>
            <app-subject-selection-list (newSelectEvent)="addItemSubject($event)"></app-subject-selection-list>
            <app-book-price-edit-list (addNewItem)="addNewItem($event)"  [records]="record.priceByChannels" ></app-book-price-edit-list>
            <br />
            <div class="text-center">
                <div [innerHTML]="message"></div>
                <button (click)="save()" class="btn btn-success">Salvar</button>
            </div>
        </div>
        <div *ngIf="inserted">
            <h2>Registro salvo com sucesso</h2>
            <div class="text-center">
                <button class="btn btn-success" (click)="new()">Novo Registro</button>
            </div>
        </div>
    </div>
</div>