<div *ngIf="record.codAs" class="form">
    <h4>{{title}}</h4>
    <form>
        <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text"  maxlength="20"  class="form-control" id="description" [(ngModel)]="record.description" name="name" />
        </div>
    </form>
    <br />
    <div class="text-center">
        <div class="labelError" [innerHTML]="message"></div>
        <button (click)="update()" class="btn btn-success">Salvar</button>
    </div> 
</div>
<div *ngIf="!record.codAs">
    <br />
    <h1>Registro inexiste!</h1>
</div> 