<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"  routerLink="/" routerLinkActive="active">Home </a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="#" routerLink="/autor" routerLinkActive="active">Autor</a>
            </li> 
            <li class="nav-item"> 
                <a class="nav-link" href="#" routerLink="/assunto" routerLinkActive="active">Assunto</a>
            </li> 
            <li class="nav-item"> 
                <a class="nav-link" href="#" routerLink="/livro" routerLinkActive="active">livro</a>
            </li> 
         </ul> 
    </div>  
</nav>
<router-outlet />