<div> 
    <div class="form">
        <h4>{{title}}</h4>
        <div *ngIf="!inserted">
            <div class="form-group">
                <label for="description">Descrição</label>
                <input class="form-control" maxlength="20" id="description" required [(ngModel)]="record.description" description="description" />
            </div>
            <br />
            <div class="text-center">
                <div [innerHTML]="message"></div>
                <button (click)="save()" class="btn btn-success">Salvar</button>
            </div>
        </div>
        <div *ngIf="inserted">
            <h2>Registro salvo com sucesso</h2>
            <div class="text-center">
                <button class="btn btn-success" (click)="new()">Novo Registro</button>
            </div>
        </div>
    </div>
</div>